@model IEnumerable<Multimark.Models.Sales>

@{
    ViewData["Title"] = "Index";
}

<h2>Registro de vendas</h2>

<br />
<table class="table">
    <thead>
        <tr class="bg-primary">
            <th>
                Data da venda
            </th>
            <th>
                Nome do cliente
            </th>
            <th>
                Valor da venda
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.Name)
                </td>
                <td>
                   R$ @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id=" @item.Id" class="btn btn-success">Detalhes</a>
                    <a asp-action="Edit" asp-route-id=" @item.Id" class="btn btn-danger">Cancelar</a>
                </td>
            </tr>
        }
    </tbody>
    
</table>

<style>
    #totalsales{
        text-align:center;
        font-size:25px;
    }
</style>
<br /><br />
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title" id="totalsales">Total de Vendas = R$ @Model.Sum(obj => obj.Total).ToString("F2")</h3>
        </div>
    </div>

