@model Multimark.Models.Product

@{
    ViewData["Title"] = "Delete";
}
<hr />
<h2>Tem certeza que deseja remover o produto?</h2>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            Nome
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Categoria
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categorie.Name)
        </dd>
        <dt>
            Preço
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            Quantidade
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            Tamanho
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt>
            Data
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> <hr />
        <a asp-action="Index"> <img src="~/images/back.png" /> Voltar</a>
    </form>
</div>

